name: Terraform Destroy

on:
  workflow_dispatch: # allows manual trigger from GitHub UI

permissions:
  id-token: write
  contents: read

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    environment:
      name: Terraform-Deploy  # manual approval
    defaults:
      run:
        working-directory: environments/dev

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Configure AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::601084007085:role/github-runner-role
          aws-region: ap-south-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var-file="dev.tfvars"
